---
import Introduction from "../components/Introduction/Introduction.jsx";
import { Project } from "../components/Project/Project.jsx";
import Footer from "../components/Footer/Footer.astro";

import "../styles/global.css";

/* Project 1 */
const title1 = "Netflix Clone";
import projectimg1 from "../assets/NetflixMockUp.png";
const projectLink1 = "https://github.com/crypto-dot/Netflix-clone";
const description1 =
    "Netflix streaming clone. Adminstrators are able to view user analytics as well as perform CRUD operations on the database. Users can look up movies or series and have them sorted by genre. User and admin authentication is done use JWT's.";

/* Project 2 */
import projectimg2 from "../assets/AmazonCloneMockup.png";
const description2 =
    "Amazon e-commerce site clone. Users can buy and add items to their basket. Payment processing is done using stripe. Users can sign up and login using Firebase's auth API. ";
const title2 = "Amazon Clone";
const projectLink2 = "https://github.com/crypto-dot/amazon-clone";

/* Project 3 */
const description3 =
    "Responsive landing page. BEM conventions for CSS. Semantic HTML. Accessibile Webpage.";
const title3 = "Skilled Landing Page";
const projectLink3 = "https://github.com/crypto-dot/FrontendMentorChallenge2";
import projectimg3 from "../assets/skilledMockup.png";

/* Project 4 */
const description4 =
    "Splice 3D animations. Simple landing page made using Splice's software that allows for simple, unique, and complex 3D animations.";
const title4 = "Splice3D";
const projectLink4 = "https://github.com/crypto-dot/Spline3D";
import projectimg4 from "../assets/Spline3DMockup.png";

/* Project 5 */
const description5 =
    "Weather Application. Uses a few different APIs to fetch users' weather. Openweather API is used for the actual weather data, while the other API's help retrieve the country and/or state code for more accurate results. GIPHY's API is used to fetch a gif displayed in the background that relates to the weather itself.";
const title5 = "Weather Application";
const projectLink5 = "https://github.com/crypto-dot/WeatherApp";
import projectimg5 from "../assets/WeatherApplication.png";

/* Project 6 */
const description6 =
    "Nice simple web based resume. This was my first project using React. Trying to learn how to create component-based web applications was the primary goal. ";
const title6 = "Resume Application";
const projectLink6 = "https://github.com/crypto-dot/ReactBusinessCard";
import projectimg6 from "../assets/ResumeProjectMockup.png";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio Site</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <main>
            <Introduction client:load />
            <h1>Here are some Projects</h1>
            <section aria-label="projects" class="projects">
                <Project
                    projectImage={projectimg1}
                    title={title1}
                    description={description1}
                    projectLink={projectLink1}
                    client:visible
                />
                <Project
                    projectImage={projectimg2}
                    title={title2}
                    description={description2}
                    projectLink={projectLink2}
                    client:visible
                />
                <Project
                    projectImage={projectimg3}
                    title={title3}
                    description={description3}
                    projectLink={projectLink3}
                    client:visible
                />
                <Project
                    projectImage={projectimg4}
                    title={title4}
                    description={description4}
                    projectLink={projectLink4}
                    client:visible
                />
                <Project
                    projectImage={projectimg5}
                    title={title5}
                    description={description5}
                    projectLink={projectLink5}
                    client:visible
                />
                <Project
                    projectImage={projectimg6}
                    title={title6}
                    description={description6}
                    projectLink={projectLink6}
                    client:visible
                />
            </section>
            <Footer />
        </main>
    </body>

    <style>
        body {
            background-color: black;
        }
        main {
            overflow-x: hidden;
        }
        * {
            padding: 0;
            margin: 0;
            font-family: "Lato", sans-serif;
        }
        h1 {
            font-size: 10vw;
            color: darkgrey;
            padding-left: 1.5rem;
        }

        header {
            font-weight: 900;
        }
    </style>
</html>
