---
import Introduction from "../components/Introduction/Introduction.jsx";
import { Project } from "../components/Project/Project.jsx";
import Footer from "../components/Footer/Footer.astro";

import "../styles/global.css";

/* Project 2 */
import projectimg2 from "../assets/AmazonCloneMockup.png";
const description2 =
    "Amazon e-commerce site clone. Users can buy and add items to their basket. Payment processing is done using stripe. Users can sign up and login using Firebase's auth API. ";
const title2 = "Amazon Clone";
const projectLink2 = "https://github.com/crypto-dot/amazon-clone";

/* Project 3 */
const description3 =
    "Responsive landing page. BEM conventions for CSS. Semantic HTML. Accessibile Webpage.";
const title3 = "Skilled Landing Page";
const projectLink3 = "https://github.com/crypto-dot/FrontendMentorChallenge2";
import projectimg3 from "../assets/skilledMockup.png";

/* Project 4 */
const description4 =
    "Splice 3D animations. Simple landing page made using Splice's software that allows for simple, unique, and complex 3D animations.";
const title4 = "Splice3D";
const projectLink4 = "https://github.com/crypto-dot/Spline3D";
import projectimg4 from "../assets/Spline3DMockup.png";

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio Site</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <main>
            <Introduction client:load />
            <div class="projects">

                <Project
                    projectImage={projectimg2}
                    title={title2}
                    description={description2}
                    projectLink={projectLink2}
                    client:visible
                />
                <Project
                    projectImage={projectimg3}
                    title={title3}
                    description={description3}
                    projectLink={projectLink3}
                    client:visible
                />
                <Project
                    projectImage={projectimg4}
                    title={title4}
                    description={description4}
                    projectLink={projectLink4}
                    client:visible
                />
            </section>
            <Footer />
        </main>
    </body>

    <style>
        body {
            background-color: black;
        }
        main {
            overflow-x: hidden;
        }
        * {
            padding: 0;
            margin: 0;
            font-family: "Lato", sans-serif;
        }
        h1 {
            font-size: 10vw;
            color: darkgrey;
            padding-left: 1.5rem;
        }

        header {
            font-weight: 900;
        }
    </style>
</html>
